<div class="bottomFixed" v-bind:class="{ 'bottomFixed-open': showForm}">
    <div class="iconCamera" v-on:click="showForm = !showForm">
        <div class="camera">
            <span></span>
        </div>
    </div>
    <div v-show="showForm" class="uploadForm">
        <h2>Upload photo</h2>
        <div>Name:
            <input type="text" v-model="uploaderName" />
        </div>
        <input type="file" multiple :disabled="isSaving" v-on:change="filesChange($event.target.files)" accept="image/*" class="input-file">

        <div>
            <input type="button" v-on:click="upload" value="upload" v-bind:disabled="uploadStatus == 'uploading' || !uploaderName || files.length == 0"
            />
            <input type="button" v-on:click="reset" value="reset" v-bind:disabled="uploadStatus == 'uploading'" />
        </div>
        <div v-show="uploadingFilesToSite || uploadStatus == 'uploading'">
            <div class="loader">
            </div>
            <p v-show="uploadingFilesToSite">Fotos werden analysiert</p>
            <p v-show="uploadStatus == 'uploading'">Fotos werden hochgeladen</p>
        </div>
        UploadStatus: {{uploadStatus}} uploadingFilesToSite: {{uploadingFilesToSite}}
    </div>
</div>