<div>
    <h2>Eventdetails</h2>
    <div class="label">Name:</div>
    <div> {{metaData.title}}</div>
    <div class="label">Datum: </div>
    <div>{{new Date(metaData.eventDate).toLocaleDateString()}}</div>
    <div class="label">Kontaktemail:</div>
    <div> {{metaData.email}}</div>
    <div class="label">Adminlink: </div>
    <div>
        <input type="text" v-model="metaData.adminLink" />
        <button class="emoji" title="Adminlink kopieren" v-html=emojiCopyAdmin v-on:click="copyLinkAdmin()"></button>
        <a class="emoji" title="Event öffnen" v-bind:href="metaData.adminLink" target="_blank">&#x1F517;</a>
    </div>
    <div class="label">Eventlink: </div>
    <div>
        <input type="text" v-model="metaData.eventLink" />
        <button class="emoji" title="Link kopieren" v-html=emojiCopyEvent v-on:click="copyLinkEvent()"></button>
        <a class="emoji" title="Event öffnen" v-bind:href="metaData.eventLink" target="_blank">&#x1F517;</a>
    </div>
    <div class="label">QR-Code:</div>
    <div style="padding-left: 20px;">
        <img v-bind:src="metaData.qrCodeUrl" />
    </div>
</div>
</div>
</div>